@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");
@font-face {
  font-family: "Artegra";
  font-style: normal;
  font-weight: 400;
  src: local("Artegra"), url("fonts/Artegra.woff") format("woff"); }
.mobile {
  display: none; }

.preloader {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 100vh; }
  .preloader h2 {
    font-size: 1.8rem;
    padding-left: 0;
    padding-right: 0; }

.dotsabsolute {
  position: relative;
  margin-left: 5px;
  margin-top: 4px;
  overflow: hidden; }

.dots {
  width: 18px;
  height: 6px;
  background: url(../images/22.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation: dots steps(3) 1s infinite;
  opacity: 0.7; }

@keyframes dots {
  0% {
    background-position: 0% 0%; }
  100% {
    background-position: 100% 0%; } }
a {
  text-decoration: none; }
  a:hover {
    color: #818181; }
    a:hover h2 {
      color: #818181; }

* {
  font-family: "Artegra"; }

.try {
  width: 100px;
  height: 100px;
  background-color: blue; }

.killme {
  background-color: blue; }

h2 {
  background-color: black;
  padding-left: 1.39vw;
  padding-right: 1.39vw;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #BCBCBC;
  margin-top: 7px; }

.rotate {
  top: 0;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0 0; }

.side {
  position: absolute;
  display: flex;
  right: 0;
  top: 300px; }

#youth {
  top: 47%; }

.date {
  position: relative;
  margin-top: 100%;
  margin-bottom: 0%;
  margin-left: 91%; }
  .date h2 {
    margin-top: 0px;
    margin-bottom: 0px; }

.artist {
  top: 500px;
  left: 0; }
  .artist h2 {
    margin-top: -10px; }

#art {
  top: 70%; }

body {
  background-color: black;
  padding: 30px 4vw 60px 4vw;
  background-size: auto;
  cursor: none;
  overflow: auto; }

.portalsection {
  height: 610px;
  width: 100%;
  margin-bottom: 60px; }

.portalcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 610px;
  width: 100%;
  padding-bottom: 20px; }

.cursor {
  display: block;
  pointer-events: none;
  position: fixed; }

.normal {
  transition: background-color 0.5s ease;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%; }

.hoverc {
  background: url("../images/hovercursor.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-color 0.5s ease;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px white solid;
  border-radius: 50%; }

.moveme {
  background: url("../images/moveme.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-color 0.5s ease;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 50%; }

.spriteslider, .spriteslider2 {
  cursor: none !important; }

#scene3d {
  margin-left: -10%; }

.realportal {
  border-radius: 50%;
  overflow: hidden;
  width: 554px;
  height: 558px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: calc(50% - 274px); }

.realportal_c {
  position: relative;
  height: 560px;
  width: 726px;
  background-size: contain;
  background-repeat: no-repeat; }

.cycle1 {
  pointer-events: none;
  position: absolute;
  height: 560px;
  width: 726px;
  background: url("../images/cycle1.svg");
  background-size: contain;
  background-repeat: no-repeat; }

#area {
  display: inline-block;
  /* background-color: red; */
  width: 33vw;
  /* opacity: 0.5; */
  position: absolute;
  left: 5%;
  top: 12%; }

#area-2 {
  display: inline-block;
  /* background-color: red; */
  /* opacity: 0.5; */
  width: 34vw;
  position: absolute;
  top: 32%;
  left: 8%; }

#man-half {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%; }

#boy-half {
  /* background: white; */
  position: relative;
  width: 49%;
  height: 100%;
  display: inline-block; }

#path, #path-2 {
  stroke-dasharray: 11;
  stroke-width: 2px; }

.square {
  border: 2px solid white;
  display: none;
  width: 9.31vw;
  height: 9.31vw;
  transform-origin: right bottom;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center; }

.maps {
  border: 2px solid white;
  display: none;
  width: 9.31vw;
  height: 9.31vw;
  transform-origin: right bottom;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center; }

.from {
  position: absolute;
  width: 15vw;
  height: 15vw;
  border: 2px solid white; }

.texture {
  pointer-events: none;
  bottom: 21%;
  left: 40%;
  background: url("../images/texture.jpg");
  background-size: cover;
  background-position: 0 0;
  animation: texture steps(29) 3s infinite; }

@keyframes texture {
  0% {
    background-position: 0% 0%; }
  100% {
    background-position: 100% 0%; } }
.final_container {
  width: 81.7vw;
  height: 37.5vw;
  position: relative;
  background: url("../images/mappic.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 25px;
  border: 2px solid white; }

.invisible {
  position: absolute;
  width: 82.78vw;
  height: 37.5vw;
  top: 0;
  left: 0; }

@keyframes cycle1 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.cycle2 {
  pointer-events: none;
  position: absolute;
  top: 0%;
  left: 12.2%;
  height: 559px;
  width: 559px;
  background: url("../images/cycle2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  animation: cycle1 3s ease-in-out infinite;
  transform-origin: 50% 50%; }

@keyframes cycle2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
.cycle3 {
  pointer-events: none;
  position: absolute;
  top: 0%;
  left: 1%;
  height: 678px;
  width: 672px;
  background: url("../images/cycle3.svg");
  background-size: contain;
  background-repeat: no-repeat; }

.upperangle {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-top-left-radius: 25px;
  height: 24vw;
  width: 11%; }

.bottomangle {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-bottom-right-radius: 25px;
  height: 7vw;
  width: 74%; }

.prebody {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.schmutz {
  margin-bottom: 26px; }

.m {
  margin-top: 41px;
  margin-bottom: 32px; }

.player_container {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  width: 49.44vw;
  height: 31.11vw;
  border: 2px solid white; }
  .player_container iframe {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%; }

.l {
  position: relative;
  margin-bottom: 42px; }

.n {
  overflow: hidden;
  position: relative;
  margin-bottom: 41px; }

.qa {
  overflow: hidden; }

.qa, .download {
  border: 2px solid white;
  border-radius: 25px;
  transition: all 0.5s ease; }

.download {
  margin-top: 50px;
  display: flex;
  padding: 11px 23px 11px 23px;
  justify-content: space-between;
  align-content: center; }

.heh {
  width: 113px;
  height: 113px;
  transition: all 2s ease;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/star.png);
  background-size: contain; }

.more {
  font-family: 'Artegra';
  font-size: 1rem;
  color: #ACACAC;
  margin-bottom: 60px; }

.download:hover .heh {
  width: 113px;
  height: 113px;
  transition: all 2s ease;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/starblack.png);
  background-size: contain; }

.question h3 {
  margin-bottom: 0; }

.unclickedstar {
  transition: all 2s ease;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/star.png);
  background-size: contain;
  width: 113px;
  height: 113px; }

h3 {
  margin-bottom: auto;
  margin-top: auto; }

.clickedstar {
  width: 55px;
  height: 57px; }

.unclicked:hover, .download:hover {
  transition: all 0.5s ease;
  background-color: white; }
  .unclicked:hover h3, .download:hover h3 {
    color: black; }
  .unclicked:hover .unclickedstar, .download:hover .unclickedstar {
    transition: all 2s ease;
    background: url("../images/starblack.png");
    width: 113px;
    height: 113px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }

.headercont {
  transition: all 0.5s ease;
  display: flex;
  padding: 11px 4.17vw 11px 4.17vw;
  justify-content: space-between;
  align-items: center; }
  .headercont .star {
    transition: all 2s ease;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/star.png);
    background-size: contain; }

#one {
  margin-right: 40px; }

h3 {
  font-family: Artegra;
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  margin-right: 25px; }
  h3 .diff {
    font-family: 'Abhaya Libre', serif;
    font-size: 3.438rem; }

.question {
  display: flex;
  align-items: baseline;
  margin-bottom: 28px; }

.qatext {
  margin-left: 62px;
  margin-right: 62px; }

.answer p {
  margin-top: 0;
  font-family: Artegra;
  font-style: normal;
  font-weight: normal;
  font-size: 1.313rem;
  line-height: 29px;
  color: #ACACAC;
  margin-left: 60px; }

h4 {
  font-family: Artegra;
  font-style: normal;
  font-weight: normal;
  font-size: 1.313rem;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
  margin-bottom: 0;
  margin-top: 80px; }

.map {
  border: 2px solid white;
  border-radius: 25px;
  position: relative;
  width: 100%;
  height: 540px;
  background: url("../images/mappic.png");
  background-size: cover;
  background-position: center center; }

h1 {
  font-family: Artegra;
  font-size: 1.125rem;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 1.6rem; }

.text {
  border: 2px solid white;
  height: auto;
  border-radius: 25px;
  padding-left: 1.88vw;
  padding-right: 1.88vw;
  padding-top: 1.88vw;
  padding-bottom: 1.88vw;
  font-family: 'Artegra';
  font-size: 1rem;
  color: white; }
  .text p {
    margin-top: 0; }
  .text.a {
    margin-left: 26px;
    width: 29.5vw; }
  .text.b {
    padding-left: 2.57vw;
    padding-right: 2.78vw;
    padding-bottom: 1.88vw;
    height: auto;
    margin-top: 26px;
    font-size: 1.125rem; }

.hor {
  position: relative;
  display: flex;
  justify-content: space-between; }

.koshta {
  background: url("../images/koshta.svg"); }

.universal {
  background: url("../images/universal.svg"); }

.clt {
  background: url("../images/clt.svg"); }

.fresh {
  background: url("../images/fresh.svg");
  background-position: left;
  width: 8vw; }

.alllogos {
  margin-top: 99px;
  margin-bottom: 99px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.notmain {
  opacity: 0.7;
  height: 3.8vw;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 10vw; }
  .notmain:hover {
    opacity: 0.5; }

.logobox {
  margin-left: 6vw;
  margin-right: 6vw;
  background: url("../images/mjsq.svg");
  width: 17.3vw;
  height: 6.53vw;
  background-size: cover;
  background-repeat: no-repeat;
  animation: logobox steps(5) 5s infinite; }
  .logobox:hover {
    opacity: 0.5; }

@keyframes logobox {
  0% {
    background-position: 0% 0px; }
  100% {
    background-position: 100% 0px; } }
.main_container {
  transition: all 0.5s ease;
  display: block;
  border: 2px solid white;
  position: relative;
  display: block;
  width: 100%;
  overflow: auto;
  border-radius: 50px; }
  .main_container .underborder {
    position: relative;
    margin-top: 58px;
    margin-left: 4.19vw;
    margin-right: 4.19vw; }
  .main_container .one {
    width: 272px;
    height: 20.43px;
    background-image: url("../images/dots1.svg"); }
  .main_container .two {
    width: 270.76px;
    height: 17px;
    background-image: url("../images/dots2.svg"); }

.decor {
  position: relative;
  display: flex;
  justify-content: flex-end; }
  .decor div:nth-of-type(2n) {
    margin-left: 168px; }

#bot {
  justify-content: flex-start; }
  #bot .schmutz {
    margin-bottom: 0px;
    margin-top: 30px; }

.nft {
  display: flex;
  justify-content: space-between; }

.openup {
  display: flex;
  margin-bottom: 26px; }

.none {
  display: none; }

.spriteslider3 {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
  height: 25vw; }

.spriteslider4 {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
  height: 25vw; }

.crosscalm, .crosschild, .crossbalance, .crossdark {
  width: 25px;
  height: 25px;
  background-image: url("../images/cross.svg");
  background-size: contain;
  position: absolute;
  right: 25px;
  top: 25px; }

.cross {
  transition: all 0.5s ease;
  margin-left: 1.6vw;
  margin-right: 1.6vw;
  width: 1.74vw;
  height: 1.74vw;
  background-image: url("../images/cross.svg");
  background-size: contain;
  background-repeat: no-repeat; }

.cross:hover {
  background-image: url("../images/crossblack.svg");
  transform: scale(1.5); }

.brr {
  transition: all 0.5s ease;
  background-color: white; }
  .brr h3, .brr h4 {
    color: black; }
  .brr .justline {
    background-color: black; }
  .brr .star {
    transition: all 2s ease;
    background: url("../images/starblack.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }

#left {
  width: 12.08vw; }

#right {
  width: 5.56vw; }

#imp {
  transition: all 0.5s ease;
  text-align: center;
  white-space: nowrap; }

.justline {
  transition: all 0.5s ease;
  height: 2px;
  width: 100%;
  background-color: white; }

.headercont .star {
  margin-left: 1.60vw;
  margin-right: 1.60vw; }

.spriteslider {
  margin-left: auto;
  margin-right: auto;
  width: 20.42vw;
  height: 20.42vw; }

#spritetarget {
  width: 20.42vw;
  height: 20.42vw;
  background-size: cover;
  background-image: url("../images/manseq.png");
  /* horizontal spritesheet - image from http://preloaders.net */
  background-repeat: repeat-x; }

.spriteslider2 {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 20.42vw;
  height: 20.42vw; }

#spritetarget2 {
  width: 20.42vw;
  height: 20.42vw;
  background-size: cover;
  background-image: url("../images/boyseq.png");
  /* horizontal spritesheet - image from http://preloaders.net */
  background-repeat: repeat-x; }

#animatedcard {
  width: 25vw;
  height: 25vw;
  background-size: cover;
  background-image: url("../images/mech_seq.jpg");
  /* horizontal spritesheet - image from http://preloaders.net */
  background-repeat: repeat-x;
  animation: mech steps(95) 7s infinite;
  margin-bottom: 15px; }

#animatedcard2 {
  width: 25vw;
  height: 25vw;
  background-size: cover;
  background-image: url("../images/toy_seq.jpg");
  /* horizontal spritesheet - image from http://preloaders.net */
  background-repeat: repeat-x;
  animation: mech steps(95) 7s infinite;
  margin-bottom: 15px; }

#animatedcard3 {
  width: 25vw;
  height: 25vw;
  background-size: cover;
  background-image: url("../images/organic_seq.jpg");
  /* horizontal spritesheet - image from http://preloaders.net */
  background-repeat: repeat-x;
  animation: mech steps(95) 7s infinite;
  margin-bottom: 15px; }

#animatedcard4 {
  width: 25vw;
  height: 25vw;
  background-size: cover;
  background-image: url("../images/type_seq.jpg");
  /* horizontal spritesheet - image from http://preloaders.net */
  background-repeat: repeat-x;
  animation: mech steps(95) 7s infinite;
  margin-bottom: 15px; }

@keyframes mech {
  0% {
    background-position: 0% 0%; }
  100% {
    background-position: 100% 0%; } }
#spritetarget4 {
  width: 25vw;
  height: 25vw;
  background-size: cover;
  background-image: url("../images/group.jpg");
  /* horizontal spritesheet - image from http://preloaders.net */
  background-repeat: repeat-x; }

.zoom {
  position: relative;
  border-radius: 25px;
  border: 2px solid white;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center; }

.card {
  width: 20.42vw;
  height: 20.42vw;
  border-radius: 25px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .card:nth-of-type(2n) {
    margin-left: 22px;
    margin-right: 22px; }
  .card:last-of-type {
    margin-right: 0px; }
  .card:hover .calm {
    opacity: 0.5; }
  .card:hover .child {
    opacity: 0.5; }
  .card:hover .balance {
    opacity: 0.5; }
  .card:hover .dark {
    opacity: 0.5; }
  .card .calm {
    background-image: url("../images/mech.png");
    width: 89%;
    height: 95%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .card .balance {
    background-image: url("../images/organic.png");
    width: 87%;
    height: 87%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .card .child {
    background-image: url("../images/toy.png");
    width: 89%;
    height: 91%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .card .dark {
    background-image: url("../images/type.jpg");
    width: 89%;
    height: 91%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }

.gifs {
  display: flex;
  justify-content: space-between; }
  .gifs .model {
    width: 21.42vw;
    height: 22.42vw;
    border-radius: 25px;
    border: 2px solid white;
    background-size: cover;
    background-position: center center; }
  .gifs .portal {
    background: white;
    height: 22.42vw;
    width: 43.3%;
    border-radius: 25px;
    border: 2px solid white;
    margin-left: 22px;
    margin-right: 22px;
    background-size: cover;
    background-position: center center;
    overflow: hidden; }

.action {
  background: url(../images/portal_2.jpg);
  background-size: cover; }
  .action:hover {
    opacity: 0.5; }

.still {
  background: url(../images/portal_1.jpg);
  background-size: cover; }
  .still:hover {
    opacity: 0.5; }

.portal_seq {
  margin-left: calc(50% - 56%);
  width: 112%;
  height: 100%;
  animation: portal_1 steps(49) infinite 4s; }

@keyframes portal_1 {
  0% {
    background-position: 0% 0%; }
  100% {
    background-position: 100% 0%; } }
.tgth {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 0;
  padding-top: 17px; }

.footer {
  bottom: -1.98vw;
  position: absolute;
  width: 91%;
  height: 57px; }
  .footer .upper_second_container {
    position: relative;
    justify-content: space-between;
    display: flex;
    margin-left: 6.39vw;
    margin-right: 7.78vw;
    height: 100%;
    align-items: center; }

.social {
  display: flex;
  align-items: center;
  background-color: black; }
  .social div {
    width: 1.81vw;
    height: 1.81vw;
    margin-left: 1.60vw; }

.insta {
  background-image: url("../images/insta.svg");
  background-size: contain; }
  .insta:hover {
    opacity: 0.5; }

.fb {
  background-size: contain;
  background-image: url("../images/fb.svg"); }
  .fb:hover {
    opacity: 0.5; }

.vk {
  background-size: contain;
  background-image: url("../images/vk.svg"); }
  .vk:hover {
    opacity: 0.5; }

.yt {
  margin-right: 1.60vw;
  background-size: contain;
  background-image: url("../images/yt.svg"); }
  .yt:hover {
    opacity: 0.5; }

#noma {
  margin-bottom: 0; }

.starborder {
  width: 3.82vw;
  height: 3.96vw;
  padding-left: 1.53vw;
  padding-right: 1.53vw;
  background-color: black; }
  .starborder .star {
    background-repeat: no-repeat;
    background-position: center center;
    width: 3.82vw;
    height: 3.96vw;
    background-image: url("../images/star.png");
    background-size: contain; }

.upper_container {
  top: 0px;
  position: absolute;
  width: 91%;
  height: 57px; }
  .upper_container .upper_second_container {
    position: relative;
    justify-content: space-between;
    display: flex;
    margin-left: 6.39vw;
    margin-right: 7.78vw;
    height: 100%; }
  .upper_container div, .upper_container h2 {
    position: relative; }
  .upper_container .logo {
    width: 31.32vw;
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -9px; }
    .upper_container .logo .logo_pic {
      width: 216px;
      height: 41px;
      background-image: url("../images/logo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      margin-left: 2.36vw;
      margin-right: 2.36vw; }
    .upper_container .logo .star {
      background-repeat: no-repeat;
      background-position: center center;
      width: 55px;
      height: 57px;
      background-image: url("../images/star.png");
      background-size: contain; }
  .upper_container h2:nth-of-type(2n) {
    margin-left: -2.96vw; }

@media screen and (min-width: 1610px) {
  html {
    font-size: 20px; } }
@media screen and (min-width: 1481px) and (max-width: 1609px) {
  html {
    font-size: 18px; } }
@media screen and (min-width: 1164px) and (max-width: 1299px) {
  html {
    font-size: 14px; } }
@media screen and (min-width: 1013px) and (max-width: 1163px) {
  html {
    font-size: 12px; } }
@media screen and (min-width: 944px) and (max-width: 1012px) {
  html {
    font-size: 11px; } }
@media screen and (min-width: 878px) and (max-width: 943px) {
  html {
    font-size: 10px; } }
@media screen and (min-width: 831px) and (max-width: 877px) {
  html {
    font-size: 9px; } }
@media screen and (min-width: 721px) and (max-width: 830px) {
  html {
    font-size: 8px; } }
@media screen and (max-width: 479px) {
  .tgth {
    display: none; }

  .mobile {
    display: block;
    position: relative;
    width: 100%;
    border: 2px solid white;
    border-radius: 25px; }
    .mobile h2 {
      margin-top: 11%;
      margin-left: 6%;
      margin-right: 6%;
      text-transform: none; }

  .mobile .logobox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%; }

  .mobile .alllogos {
    margin-top: 10%;
    margin-bottom: 10%; }

  .mobile .footer .upper_second_container {
    position: relative;
    justify-content: center;
    display: flex;
    margin-left: 6.39vw;
    margin-right: 7.78vw;
    height: 100%;
    align-items: center; }

  .mobile .footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 57px;
    bottom: -4%; }

  .mobile p {
    font-size: 11px; }

  .mobile .text.a {
    margin-left: 26px;
    width: 58.5vw;
    margin-top: 4%; }

  .mobile .qa h3 {
    font-size: 8px;
    margin-right: 0; }

  .mobile .qa .justline {
    display: none; }

  .mobile .qa .cross {
    display: none; }

  .mobile .qa .diff {
    font-size: 29px; }

  .mobile .qa {
    margin-right: 7vw;
    margin-left: 7vw;
    margin-top: 7vw; }

  .mobile .qa .headercont {
    padding: 0; }

  .mob_p {
    overflow: hidden;
    width: 73vw;
    height: 23%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 11%; }

  #mobb {
    border-radius: 25px;
    width: 100%;
    height: 100%; }

  .normal {
    display: none; }

  body {
    overflow: auto;
    cursor: auto;
    padding: 30px 4vw 30px 4vw; }

  .upper_container .logo {
    width: 60.32vw;
    background-color: black;
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -9px; }

  .upper_container {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 57px; }

  .upper_container .upper_second_container {
    position: relative;
    justify-content: center;
    display: flex;
    margin-left: 6.39vw;
    margin-right: 7.78vw;
    height: 100%; } }

/*# sourceMappingURL=index.css.map */
